* {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

/* header-area */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url("/images/donation5.jpg"),
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-ditaile-title {
    font-weight: 700;
    font-size: 65px;
    color: white;
}

.header-btn {
    background: #FF5959;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 16px 12px;
    margin-top: 60px;
}


/* donate today  */

.donate-today-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.donate-title {
    color: black;
    font-weight: 700;
    font-size: 45px;
    margin-top: 130px;
    margin-bottom: 20px;
    text-align: center;
}

.donate-discript {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 50px;
    color: #6d6c6c;
}

.money-contain {
    display: flex;
    gap: 24px;
    margin-bottom: 60px;
}

.money-optional {
    background: #e7e5e5;
    border-radius: 5px;
    width: 135px;
    height: 123px;
}

.money-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #707070;
}

.money-contain .money-title {
    margin-top: 40px;
    margin-left: 30px;
}

.money-optional-color {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

.money-optional-color span {
    color: #FF5959;
}

/* amount */
.amount {
    display: flex;
    margin: auto;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

.donate-btn {
    display: flex;
    margin: auto;
    margin-top: 30px;
}


/* Our Donate Plan */

.donate-plan-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 130px;
}

.donate-food {
    width: 360px;
    height: 352px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    border-radius: 10px;
}

.donate-family {
    width: 360px;
    height: 352px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    border-radius: 10px;
}

.donate-education {
    width: 360px;
    height: 352px;
    background: #FFF4D6;
    border-radius: 5px;
    border-radius: 10px;
}

.donate-title-info {
    padding: 40px 40px 15px 40px;
}

.donate-title-info h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}